body {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web",Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}