@import "var";
@import "global";
@import "swiper";

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-top {
  background: rgba(23, 25, 31, .9);
  border-bottom: solid 1px #2b2e35;

  .nav-top {
    float: right;

    li {
      float: left;
      background: rgba(0, 0, 0, .1);
      line-height: 2.4;
      padding: 5px 12px;
      color: #b8c0cc;
      cursor: pointer;
      border-left: 1px solid #1b1f27;

      &:hover {
        background: #000;
      }

      & .---icon {
      }

      & .basket-icon {
        background: url("../images/radore-sprite.png") no-repeat;
        background-position: -212px -38px;
        height: 38px;
        width: 38px;
      }

      & .download-icon {
        background: url("../images/radore-sprite.png") no-repeat;
        background-position: -162px -38px;
        height: 38px;
        width: 38px;
      }

      & .radore_id-icon {
        background: url("../images/radore-sprite.png") no-repeat;
        background-position: 3px -31px;
        height: 38px;
        width: 100px;
      }

      & .jet_destek-icon {
        background: url("../images/radore-sprite.png") no-repeat;
        background-position: 3px -66px;
        height: 38px;
        width: 100px;
      }
    }
  }
}

.header-bottom {
  background: rgba(23, 25, 31, .8);

  .logo {
    line-height: 4;
  }

  .nav-bottom {
    float: right;

    li {
      float: left;
      color: #ff9c00;
      padding-left: 60px;
      line-height: 4;
      cursor: pointer;
      font-size: 15px;

      &:hover {
        color: #fff;
      }
    }
  }
}

.banner {
  position: relative;
  //height: 650px;
  height: 660px;
  overflow: hidden;

  .promo-bulut {
    background: url("../images/promo-bulut.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center !important;

    .slider-content {
      text-align: left;

      p {
        padding: 30px 0;
        color: #d5e7f2;
        font-size: 19px;
        font-weight: 300;
      }

      button {
        border-radius: 20px;
        width: 150px;
        height: 45px;
        background: transparent;
        color: #fff;
        border: 2px solid #606d72;
        cursor: pointer;

        &.slide-page-link {
          position: absolute;
          bottom: 50px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border-bottom: 1px solid #ccc;
          border-top: none;
          border-left: none;
          border-right: none;
          left: 50%;
          color: #595a5f;

          i {
            margin-top: 20px;
          }

          &:hover {
            bottom: 45px;
            border-bottom: 1px solid #ccc;
            border-top: none;
            border-left: none;
            border-right: none;
            transition: 300ms;
          }
        }

        &:hover {
          border: 2px solid #fff;
        }
      }
    }
  }

  .kabin {
    background: url("../images/kabin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center !important;
  }

  .guvenlik {
    background: url("../images/bulut-guvenlik.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center !important;
  }

  .dedicated {
    background: url("../images/sunucu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center !important;
  }

  .pci {
    background: url("../images/pci.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center !important;
  }
}

.sticky-nav {
  position: sticky;
  top: 0;
  background: linear-gradient(to right, #e08606 0, #bfbf00 100%);
  z-index: 1000;

  .nav-el {
    border-left: 1px solid rgba(255, 255, 255, .3);
    height: 100%;
    cursor: pointer;

    &:last-child {
      border-right: 1px solid rgba(255, 255, 255, .3);
    }

    .sticky-icon {
      background: url("../images/icons-main-menu.png") no-repeat;
      margin: 0 auto;
      height: 65px;

      &.main-colocation {
        background-position: 0px 20px;
        width: 70px;
      }

      &.main-dedicated {
        background-position: 0px -54px;
        width: 26px;
      }

      &.main-cloud {
        background-position: 0px -125px;
        width: 64px;
      }

      &.main-cdn {
        background-position: 0px -200px;
        width: 70px;
      }

      &.main-host {
        background-position: 0px -275px;
        width: 38px;
      }

      &.main-pref {
        background-position: 0px -350px;
        width: 70px;
      }
    }

    .sticky-text {
      text-align: center;
      line-height: 2;
      color: rgba(0, 0, 0, .6);
      font-size: 18px;
    }
  }
}

.radore-why {
  padding-left:250px;
  padding-right:200px;
  padding-top: 100px;
  padding-bottom: 170px;
  background: url("../images/bg-section-schema1.png") no-repeat 40% 100%;

  .hdr {
    margin: 20px;
    color: #2e2e2e;
    position: relative;
    font-weight: 300;
    font-size: 3rem;
    font-family: "Titillium Web", Arial, Helvetica, sans-serif;

    & .hdr-img {
      background: url("../images/hdr-img.png") no-repeat;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 5px;
    }
  }

  ul {
    li {
      color: #595a5f;
      font-weight: 400;
      padding: 10px;
      font-size: 1.1rem;

      &:before {
        content: "";
        float: left;
        border-radius: 3px;
        width: 21px;
        height: 7px;
        background: #ff9c00;
        margin: 8px 0 0 -50px;
      }
    }
  }

  #circle {
    transform: rotate(90deg);
    position: absolute;
    top: 35%;
    left: 40%;
    box-sizing: border-box;
    .circle-text {
      transform: rotate(-90deg);
      position: absolute;
      top: 80px;
      left: 50px;
      text-align: center;

      .value {
        font-size: 40px;
        font-weight: 500;
      }

      .text {
        font-size: 25px;
      }
    }
  }
}

.radore-about {
  background: #f2f2f7;
  border-top: 1px solid #dee0e2;
  border-bottom: 1px solid #dee0e2;
  position: relative;
  padding: 100px 325px;

  .cloud-about {
    background: url("../images/bg-section-schema2.png") no-repeat;
    position: absolute;
    right: 60px;
    z-index: 999;
    top: -48px;
    width: 600px;
    height: 200px;
  }

  .hdr {
    color: #2e2e2e;
    position: relative;
    font-weight: 300;
    font-size: 3rem;
    font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  }

  p {
    font-size: 1.2rem;
    color: #595a5f;
    margin-top: 20px;
  }

  ul {
    li {
      color: #595a5f;
      font-weight: 400;
      padding: 20px 25px 0 25px;
      font-size: 1.1rem;

      &:before {
        content: "";
        float: left;
        border-radius: 3px;
        width: 21px;
        height: 7px;
        background: #ff9c00;
        margin: 8px 0 0 -50px;
      }
    }
  }

  button {
    margin-top: 20px;
    border-radius: 20px;
    width: 275px;
    height: 45px;
    background: transparent;
    color: #ff9c00;
    border: 2px solid rgba(255,156,0,.2);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;

    &:hover {
      border: 2px solid #ff9c00;
    }

    i {
      margin-left: 20px;
    }
  }
}

.specials {
  padding: 100px;
  background: url("../images/bg-section-schema3.png") no-repeat 70% 0;

  .hdr {
    margin: 20px;
    color: #2e2e2e;
    position: relative;
    font-weight: 300;
    font-size: 3rem;
    font-family: "Titillium Web", Arial, Helvetica, sans-serif;
    width: 100%;

    & .hdr-img {
      background: url("../images/hdr-img.png") no-repeat;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 290px;
    }
  }

  .radore-card {
    padding: 20px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid #f2f2f7;
    position: relative;
    overflow: hidden;

    .card-number {
      width: 70px;
      height: 70px;
      border-radius: 100px;
      background: transparent;
      border: 2px solid #e4e7ed;
      font-size: 1.6rem;
      text-align: center;
      color: #b7bece;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
    }

    .card-head {
      color: #000;
      font-weight: bolder;
      font-size: 1.6rem;
      line-height: 1.2;
      margin-bottom: 25px;
    }

    .card-desc {
      color: #595a5f;
      margin-bottom: 25px;
    }

    button {
      margin: 0 auto;
      display: flex;
      width: 90%;
      height: 45px;
      border: 0;
      background: #ff9c00;
      color: #fff;
      border-radius: 20px;
      justify-content: center;
      font-size: 1.2rem;
      margin-bottom: 25px;
    }

    .card-bottom {
      width: 100%;
      height: 8px;
      background: linear-gradient(to right, #70d99f 0, #cbdc3d 100%);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}